* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.nav {
    width: 100vw;
    position: fixed;
    display: flex;
}

.logo-area, .exit-area {
    width: 50%;
    cursor: pointer;
}

.logo {
    width: 150px;
    margin: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.exit {
    height: 40px;
    margin: 20px;
    float: right;
}

.question {
    width: 40px;
    position: fixed;
    bottom: 0px;
    margin: 20px;
    cursor: pointer;
}

.qm, .question-area {
    width: calc(90% - 80px);
    height: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 120px;
    display: none;
}

.qm {
    display: block;
}

.close {
    width: 40px;
    margin: 20px;
    float: right;
    cursor: pointer;
}

.showup {
    display: block;
}

.disappear {
    display: none;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 200px;
}
